In [31]:
import pandas as pd
import numpy as np
from huggingface_hub import login, logout
from datasets import load_dataset
from util.util_data import tokenize
import requests, os, sys, sqlite3, re
import yfinance as yf

In [32]:
eng = sqlite3.connect('./src/data.db')
tix = pd.read_sql('SELECT DISTINCT ticker FROM catalysts', eng)
df = pd.read_sql('SELECT * FROM catalysts', eng)
tickers = yf.Tickers(' '.join(tix.ticker.tolist()))

In [33]:
names = list()
for t in tix.ticker.tolist():
    try:
        name = tickers.tickers[t].info['longName'].upper()
        name = re.sub(r'[^\w\s]', '', name)
        names.append([t, name])
    except Exception:
        names.append([t, None])

In [36]:
names = pd.DataFrame(names, columns=['ticker', 'full'])

In [35]:
names.to_csv('./out/full_names.csv', index=False)

In [7]:
yrs = [(2009 + i) for i in range(15)]
qtr = ['QTR1', 'QTR2', 'QTR3', 'QTR4']

list(zip(yrs, qtr))

[(2009, 'QTR1'), (2010, 'QTR2'), (2011, 'QTR3'), (2012, 'QTR4')]

In [13]:
'ou' in os.listdir(os.getcwd())

False

In [14]:
url = f'https://www.sec.gov/Archives/edgar/full-index/1995/QTR1/master.idx'
lines = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'}, stream=True).content.decode("utf-8", "ignore").splitlines()

In [29]:
SECDIR = 'https://www.sec.gov/Archives'
s = lines[150].split('|')
file_url = os.path.join(SECDIR, s[-1])
response = requests.get(file_url, stream=True, headers= {'User-Agent': 'Mozilla/5.0'})

In [25]:
x = pd.read_csv('./out/full_names.csv')
x.dropna(axis=0)

    ticker                                   full
1     JAZZ               JAZZ PHARMACEUTICALS PLC
2     ASRT                ASSERTIO HOLDINGS, INC.
3      TAK  TAKEDA PHARMACEUTICAL COMPANY LIMITED
4     SGEN                            SEAGEN INC.
5     PCRX               PACIRA BIOSCIENCES, INC.
..     ...                                    ...
764   HOWL            WEREWOLF THERAPEUTICS, INC.
765   RAPT                RAPT THERAPEUTICS, INC.
766   XAIR                       BEYOND AIR, INC.
767     KA                           KINETA, INC.
768   FLGT                 FULGENT GENETICS, INC.

[711 rows x 2 columns]

In [30]:
s

['100885',
 'UNION PACIFIC CORP',
 'DFAN14A',
 '1995-01-18',
 'edgar/data/100885/0000950123-95-000069.txt']